language: node_js
node_js:
- '10'
install:
- cd client && npm install
- cd ../server && npm install
- cd ..
script:
- npm run lint-client
- npm run lint-server
- npm run test-client
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libpcap-dev
