language: node_js
node_js:
- '11'

env:
- PROJECT_PART=client
- PROJECT_PART=server

install:
- echo $PROJECT_PART
- ls  && cd $PROJECT_PART && yarn

script:
- ls && yarn run lint && yarn run coverage

env:
  global:
    - CXX=g++-4.8
    
jobs:
  - stage: sonar
    name: "Analyze with SonarCloud"
    script: sonar-scanner
  - stage: codecov
    name: "Analyze with Codecov"
    install: npm install -g codecov
    script: codecov
  
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libpcap-dev
  sonarcloud:
    organization: "tbohdanxdr-github"
    token:
      secure: 1af810b9512f20a1bc8ab38475f728b3aa841499
  
