language: node_js
node_js:
- '10'
install:
- cd $PROJECT_PART && yarn
- npm install -g codecov
script:
- yarn run lint && yarn run coverage
after_script:
- "codecov"
env:
  global:
    - CXX=g++-4.8
matrix:
  include:
    - name: "Client Side"
      env: PROJECT_PART=client
    - name: "Server Side"
      env: PROJECT_PART=server
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libpcap-dev
