language: node_js
node_js:
- '10'
install:
- cd $PROJECT_PART && ls -l && npm install
script:
- npm run test-$PROJECT_PART
notifications:
  webhooks: https://coveralls.io/webhook?repo_token=$coveralls_repo_token
env:
  global:
    - COVERALLS_PARALLEL=true
    - CXX=g++-4.8
matrix:
  include:
    - name: "Client Side"
      env: PROJECT_PART=client
    - name: "Server Side"
      env: PROJECT_PART=client
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libpcap-dev
