language: node_js
node_js:
- '10'
install:
- cd $PROJECT_TYPE && npm install
script:
- npm run test-$PROJECT_TYPE

notifications:
  webhooks: https://coveralls.io/webhook?repo_token=$coveralls_repo_token
env:
  - PROJECT_TYPE=server
  - PROJECT_TYPE=client
  - CXX=g++-4.8
  global:
    - COVERALLS_PARALLEL=true
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libpcap-dev
